// =================================================================================
// Base font sizing and leading
// =================================================================================
$font-size--base: 16px;
$leading:         25px;

// =================================================================================
// Grid-specific variables
// =================================================================================
$width--grid-column:  60px;                                              // 60px
$width--grid-gutter:  ($width--grid-column / 3);                         // 20px
$width--grid-unit:    ($width--grid-column + $width--grid-gutter);       // 80px

// =================================================================================
// Body sizing
// =================================================================================
$width--body:           (20 * $width--grid-unit); // 1600px
$bg-color--footer:      rgb(227, 227, 227);
$color--main:           rgb(132, 132, 132);
$offset--image-bottom: -(12.5 * $leading);

// =================================================================================
// Footer
// =================================================================================
$width--footer-nav: ((6 * $width--grid-unit) + $width--grid-column);
$height--footer:    (5.25 * $leading);

// =================================================================================
// Font weights
// =================================================================================
$light:     300;
$regular:   400;
$semi-bold: 600;

// =================================================================================
// Image dimensions
// =================================================================================
$width--phone-image:  464px;
$height--phone-image: 806px;
$width--focus-logo:   68px;